.main {
  height: 700px;

  background-color: #7115fb;
  position: relative;
  margin: 0%;
  cursor: pointer;
}
.chert {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #7115fb;
  opacity: 0.88;
}

.aikyn {
  color: #ffffff;
  font-size: 60px;
  letter-spacing: -2px;
  font-family: 'Stratos', Arial, sans-serif;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0px;

  height: 50vh;
}
.image {
  width: 300px;
  height: 60px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37vh;
}
.white1 {
  height: 600px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
}
.zakaz {
  color: #7115fb;
  background-color: #ffe500;
  font-family: Stratos;
  font-weight: 400;
  border-radius: 17px;
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zakaz:hover {
  background-color: #e8e8e8;
}
.reklama {
  margin: 0;
  margin-right: 32%;
}

.videomixer {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.href1 {
  font-size: 17px;
  margin: 15px;
  color: #ffe500;
  border-bottom: 1px solid white;
}
.href {
  font-size: 17px;
  margin: 15px;
  color: white;
}
.href:hover {
  color: #ffe500;
}
.pers {
  height: 300px;
  width: 500px;
  margin-left: 20px;
  background-color: #ffe500;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-around;
}
.person {
  color: #323232;
  font-size: 50px;
  font-family: 'Stratos', Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -2.5px;
  border-radius: 17px;
  margin-left: 20px;
}
.delim {
  color: #323232;
  font-size: 25px;
  font-family: 'Stratos', Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.5px;
  border-radius: 17px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.production {
  border-radius: 17px;
  height: 300px;
  width: 500px;
  margin-left: 20px;
  background-color: #7115fb;
  font-size: 50px;
  font-family: 'Stratos', Arial, sans-serif;
  color: white;
  flex-direction: column;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-around;
  letter-spacing: -0.5px;
  border-radius: 17px;
}
.podrobnee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #323232;
  font-size: 16px;
  font-family: 'Stratos', Arial, sans-serif;
  height: 40px;
  width: 120px;
  border-radius: 30px;
  background-color: #ffffff;
  margin-left: 20px;
}
.cate {
  width: 150px;
}

.joke {
  display: flex;
}
.gry {
  height: 1300px;
  background-color: #e8e8e8;
}
.case {
  color: #323232;
  font-size: 50px;
  font-family: 'Stratos', Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -2px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.dodo {
  width: 700px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.x {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dodo:hover {
  opacity: 0.5;
}
.x:hover {
  opacity: 0.5;
}

.jay {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.dasst {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
}

.vk {
  width: 350px;
  height: 650px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.lasos {
  border-radius: 10%;
  height: 300px;
  width: 300px;
  margin-left: 2%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.tayota {
  border-radius: 10%;
  max-height: 300px;
  width: 400px;
  margin-left: 2%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.sdu {
  width: 700px;
  height: 320px;
  border-radius: 8%;
  margin-left: 20px;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.sdu:hover {
  opacity: 0.5;
}
.lasos:hover {
  opacity: 0.5;
}
.tayota:hover {
  opacity: 0.5;
}
.vk:hover {
  opacity: 0.5;
}
.jok {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.smotret {
  color: white;
  height: 50px;
  width: 300px;
  border-radius: 17px;
  background-color: #7115fb;
  display: flex;
  justify-content: space-around;
}
.smotret:hover {
  background-color: #383838;
}
.sorok {
  border-style: solid;
  border-width: 2px;
  text-align: center;

  border-color: white;
  border-radius: 50%;
  margin-bottom: 90px;
}
.finish {
  background-color: #383838;
  height: 400px;
  display: flex;
  justify-content: space-around;
}
.sus {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.turaktal {
  margin: 5px;
  font-size: 17px;
}
.qivi {
  width: 70px;
  height: 70px;
}
.notyet {
  height: 100px;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.88;
}
.djun {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fire {
  width: 40px;
  height: 40px;
}
.jun {
  color: white;
  background-color: #7115fb;
  font-family: Stratos;
  font-weight: 400;
  border-radius: 17px;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.jun:hover {
  background-color: #ffe500;
  color: black;
}
.kun {
  font-size: 17px;
}
@media screen and (max-width: 800px) {
  .main {
    width: 1300px;

  }
  .povyshaite {
    margin-top: 200px;
  }
  .lol {
    display: none;
  }
  .aikyn {
    display: flex;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -2px;
    font-family: 'Stratos', Arial, sans-serif;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
  }
  .reklama{
    display: flex;
  }
  .cate{
    margin: 0;
  }
}
@media all and (max-width: 900px) {
  .aikyn {
    font-size: 50px;
    height: 50vh;
  }
}
@media (max-width: 900px) {
  .reklama1 {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 900px) {
  .image {
    width: 200px;
    height: 40px;
  }
}
@media (max-width: 900px) {
  .pers {
    height: 250px;
    width: 420px;
  }
}
@media (max-width: 900px) {
  .production {
    height: 250px;
    width: 420px;
  }
}
@media (max-width: 900px) {
  .person {
    font-size: 40px;
  }
}
@media (max-width: 900px) {
  .delim {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .cate {
    width: 110px;
    margin-left: 270px;
    margin-bottom: 30px;
  }
}
@media (max-width: 990px) {
  .cate {
    width: 90px;
    margin-left: 240px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .white1 {
    display: block;
    width: 100%;
  }
}
